.footer {
    margin-top: 20px !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}

.links{
    color: rgb(0, 0, 0) !important;
    margin: 0px 10px;
    text-decoration: none;
}
